In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from matplotlib import pyplot as plt
import scipy.stats as stats

In [2]:
#reading in the CSE 11 file which has the pre_survey data:
pre_survey = pd.read_csv("../Data/CSE 11 Fall 2019 DeID/DeID Pre-Survey CSE 11 Fall 2019.csv")

In [3]:
#renaming the "Did you enter UCSD as a transfer student...." column for the PRE SURVEY FILE:
pre_survey = pre_survey.rename(columns =({"Did.you.enter.UCSD.as.a.transfer.student.from.another..2.year.or.4.year..college.or.university.":"transfer_student_status"}))

In [4]:
pre_survey.head() #making sure the column got renamed

,Timestamp,transfer_student_status,If.your.current.declared.major.is.different.from.your.desired.major..i.e..you.hope.to.switch.majors...what.major.do.you.hope.to.switch.to...Leave.blank.if.this.does.not.apply.to.you..,What.is.the.main.reason.you.are.taking.this.course.,On.a.scale.of.1.to.5..how.much.experience.did.you.have.with.programming.computer.science.before.you.took.your.FIRST.course.at.UC.San.Diego.,Please.select.all.of.the.CS.programming.experiences.you.had.before.taking.your.FIRST.CS.course.at.UCSD.,Please.rate.your.current.level.of.experience.with.technology.in.general,On.a.scale.of.1.to.5..how.confident.are.you.about.your.ability.to.do.well.in.this.course.,What.is.the.MINIMUM.grade.you.think.you.would.be.satisfied.with.in.this.course...If.you.re.taking.this.course.pass.no.pass..note.that.C..is.the.threshold.for.passing...,What.is.your.gender.,What.is.your.ethnicity.,What.is.your.race...Select.all.that.apply.,What.is.your.fluency.with.English.,DeID
0,9/27/2019 16:28,No,NaN,To fulfill a major requirement (for your curre...,3.0,"Took AP CS A, Took AP Calculus, Took AP Statis...","A lot of experience: e.g., worked with multipl...",5.0,A,Male,Not Hispanic or Latino/a,East or Southeast Asian,I learned English as a child in a bilingual or...,00T90APX
1,9/27/2019 11:07,Yes,ECE: Computer Engineering,To fulfill a major requirement (for your curre...,4.0,"Took AP CS A, Took AP Calculus, Took AP Statis...","A lot of experience: e.g., worked with multipl...",4.0,A-,Male,Not Hispanic or Latino/a,Indian or other South Asian,I learned English as a child in a bilingual or...,01EAM9F6
2,9/27/2019 14:38,No,NaN,Just interested in computer science,3.0,"Took AP CS A, Took AP Calculus, Took another (...","A lot of experience: e.g., worked with multipl...",4.0,A-,NaN,Not Hispanic or Latino/a,Indian or other South Asian,I learned English as a child as my primary lan...,025LQFB2
3,9/27/2019 13:59,No,CSE: Computer Science,To fulfill a major requirement (for your curre...,5.0,"Took AP CS A, Took AP Calculus, Took AP Statis...","A lot of experience: e.g., worked with multipl...",5.0,A,Male,Not Hispanic or Latino/a,"East or Southeast Asian, White or Caucasian",I learned English as a child as my primary lan...,039HIM2X
4,9/27/2019 22:21,No,NaN,To fulfill a major requirement (for your curre...,4.0,Took another (non-AP) CS course in high school...,"A lot of experience: e.g., worked with multipl...",4.0,A-,Male,Not Hispanic or Latino/a,White or Caucasian,I learned English as a child in a bilingual or...,04T56IGQ

In [5]:
#reading in the CSE 11 file which has the PA2 data and responses:
PA2_data = pd.read_csv("../Data/CSE 11 Fall 2019 DeID/DeID Weekly Reflection (CSE 11 PA2).csv")

In [6]:
#reading in the CSE 11 file which has the PA3 data and responses:
PA3_data = pd.read_csv("../Data/CSE 11 Fall 2019 DeID/DeID Weekly Reflection (CSE 11 PA3).csv")

In [7]:
#reading in the CSE 11 file which has the PA4 data and responses:
PA4_data = pd.read_csv("../Data/CSE 11 Fall 2019 DeID/DeID Weekly Reflection (CSE 11 PA4).csv")

In [8]:
#reading in the CSE 11 file which has the PA5 data and responses:
PA5_data = pd.read_csv("../Data/CSE 11 Fall 2019 DeID/DeID Weekly Reflection (CSE 11 PA5).csv")

In [9]:
#reading in the CSE 11 file which has the PA6 data and responses:
PA6_data = pd.read_csv("../Data/CSE 11 Fall 2019 DeID/modWeek6Reflection.csv")

In [10]:
#reading in the CSE 11 file which has the PA7 data and responses:
PA7_data = pd.read_csv("../Data/CSE 11 Fall 2019 DeID/DeID Weekly Reflection (CSE 11 PA7).csv")

In [11]:
#reading in the CSE 11 file which has the PA8 data and responses:
PA8_data = pd.read_csv("../Data/CSE 11 Fall 2019 DeID/DeID Weekly Reflection (CSE 11 PA8).csv")

In [12]:
#reading in the CSE 11 file which has the PA9 data and responses:
PA9_data = pd.read_csv("../Data/CSE 11 Fall 2019 DeID/DeID Weekly Reflection (CSE 11 PA9).csv")

In [13]:
#outlining the process:
#read in data from csv file
#rename the confusion about the assignment column and extract the deID column with confusion column
#merge the table with the transfer status + deID table
#table should now have transfer status, deID and confusion about the assignment (3 columns)
#filter table into transfer student and native student table

In [14]:
#renaming the relevant column for all the PAs:
PA2_data = PA2_data.rename(columns = ({"In.the.past.week..on.a.scale.of.1.to.5..to.what.degree.did.each.of.the.following.interfere.with.your.ability.to.learn.and.complete.the.work.for.this.course..Confusion.specifically.about.the.assignment.":"PA2_confusion"}))
PA3_data = PA3_data.rename(columns = ({"In.the.past.week..on.a.scale.of.1.to.5..to.what.degree.did.each.of.the.following.interfere.with.your.ability.to.learn.and.complete.the.work.for.this.course..Confusion.specifically.about.the.assignment.":"PA3_confusion"}))
PA4_data = PA4_data.rename(columns = ({"In.the.past.week..on.a.scale.of.1.to.5..to.what.degree.did.each.of.the.following.interfere.with.your.ability.to.learn.and.complete.the.work.for.this.course..Confusion.specifically.about.the.assignment.":"PA4_confusion"}))
PA5_data = PA5_data.rename(columns = ({"In.the.past.week..on.a.scale.of.1.to.5..to.what.degree.did.each.of.the.following.interfere.with.your.ability.to.learn.and.complete.the.work.for.this.course..Confusion.specifically.about.the.assignment.":"PA5_confusion"}))
PA6_data = PA6_data.rename(columns = ({"In.the.past.week..on.a.scale.of.1.to.5..to.what.degree.did.each.of.the.following.interfere.with.your.ability.to.learn.and.complete.the.work.for.this.course..Confusion.specifically.about.the.assignment.":"PA6_confusion"}))
PA7_data = PA7_data.rename(columns = ({"In.the.past.week..on.a.scale.of.1.to.5..to.what.degree.did.each.of.the.following.interfere.with.your.ability.to.learn.and.complete.the.work.for.this.course..Confusion.specifically.about.the.assignment.":"PA7_confusion"}))
PA8_data = PA8_data.rename(columns = ({"In.the.past.week..on.a.scale.of.1.to.5..to.what.degree.did.each.of.the.following.interfere.with.your.ability.to.learn.and.complete.the.work.for.this.course..Confusion.specifically.about.the.assignment.":"PA8_confusion"}))
PA9_data = PA9_data.rename(columns = ({"In.the.past.week..on.a.scale.of.1.to.5..to.what.degree.did.each.of.the.following.interfere.with.your.ability.to.learn.and.complete.the.work.for.this.course..Confusion.specifically.about.the.assignment.":"PA9_confusion"}))

In [15]:
PA3_data.head()

,Timestamp,In.the.last.week..approximately.how.many.hours.did.you.spend.outside.of.class.time.working.on.work.for.this.course.,How.challenging.was.the.work.for.this.class.this.week.,In.the.past.week..which.of.the.following..if.any..did.you.seek.help.from.work.with.for.this.course.,In.the.past.week..on.a.scale.of.1.to.5..to.what.degree.did.each.of.the.following.interfere.with.your.ability.to.learn.and.complete.the.work.for.this.course..Requirements.for.other.classes.,In.the.past.week..on.a.scale.of.1.to.5..to.what.degree.did.each.of.the.following.interfere.with.your.ability.to.learn.and.complete.the.work.for.this.course..Illness.,In.the.past.week..on.a.scale.of.1.to.5..to.what.degree.did.each.of.the.following.interfere.with.your.ability.to.learn.and.complete.the.work.for.this.course..Family.obligations.,In.the.past.week..on.a.scale.of.1.to.5..to.what.degree.did.each.of.the.following.interfere.with.your.ability.to.learn.and.complete.the.work.for.this.course..Work.obligations.,In.the.past.week..on.a.scale.of.1.to.5..to.what.degree.did.each.of.the.following.interfere.with.your.ability.to.learn.and.complete.the.work.for.this.course..Social.personal.life.issues.,PA3_confusion,...,What.is.your.current.overall.satisfaction.with.your.performance.in.this.class.,Reflecting.on.your.experiences.over.the.past.week..to.what.extent.do.you.agree.with.the.following.statements..I.feel.accepted.in.this.class..,Reflecting.on.your.experiences.over.the.past.week..to.what.extent.do.you.agree.with.the.following.statements..I.feel.comfortable.in.this.class..,Reflecting.on.your.experiences.over.the.past.week..to.what.extent.do.you.agree.with.the.following.statements..I.feel.supported.in.this.class..,Reflecting.on.your.experiences.over.the.past.week..to.what.extent.do.you.agree.with.the.following.statements..I.feel.like.I.don.t.belong.in.this.class..,At.this.time..approximately.how.many.other.students.in.this.course.would.you.be.comfortable.reaching.out.to.study.with.,Reflecting.on.the.last.week..how.stressed.have.you.been.overall.,Optional..If.you.want..please.enter.any.information.to.expand.on.or.explain.your.answers.to.any.of.the.questions.on.this.survey.,Which.CSE.11.section.are.you.enrolled.in.,DeID
0,10/15/2019 19:07,10.0,3,"Discussion Board, e.g. Piazza, Canvas, etc.: I...",4,2,3,1 (Not at all),2,2,...,4,2,3,3,2,12,4,NaN,Niema's 12 pm section,00T90APX
1,10/15/2019 19:25,10.0,3,"Discussion Board, e.g. Piazza, Canvas, etc.: I...",2,1 (Not at all),1 (Not at all),1 (Not at all),1 (Not at all),1 (Not at all),...,5,5 (Completely),5 (Completely),5 (Completely),1 (Not at all),3,2,NaN,Niema's 12 pm section,025LQFB2
2,10/10/2019 13:00,1.0,2,I did not seek help or work with anyone this week,2,1 (Not at all),1 (Not at all),1 (Not at all),1 (Not at all),1 (Not at all),...,3,3,5 (Completely),3,4,3,4,NaN,Gerald's 8 am section,039HIM2X
3,10/10/2019 1:02,5.0,2,"Discussion Board, e.g. Piazza, Canvas, etc.: I...",2,1 (Not at all),1 (Not at all),2,1 (Not at all),1 (Not at all),...,5,5 (Completely),5 (Completely),5 (Completely),2,10,2,I am simply eager for the next weeks!,Niema's 12 pm section,04T56IGQ
4,10/10/2019 20:52,2.0,2,I did not seek help or work with anyone this week,4,4,1 (Not at all),2,2,1 (Not at all),...,5,5 (Completely),5 (Completely),5 (Completely),1 (Not at all),10,2,NaN,Gerald's 8 am section,06SPWR8K

In [16]:
#extracting transfer status and DeID:
transferStatusWithDeID = pre_survey[["transfer_student_status","DeID"]]
transferStatusWithDeID = transferStatusWithDeID.dropna() #dropping any undefined values
transferStatusWithDeID

    transfer_student_status      DeID
0                        No  00T90APX
1                       Yes  01EAM9F6
2                        No  025LQFB2
3                        No  039HIM2X
4                        No  04T56IGQ
..                      ...       ...
475                      No  ZT9CDKWM
476                     Yes  ZTFNAYUD
477                      No  ZWOIJJTE
478                      No  ZZ5H6MQD
479                      No  ZZCK945I

[479 rows x 2 columns]

In [17]:
#extracting the relevant PA2 and PA9 columns:
PA2_confusion = PA2_data[["PA2_confusion","DeID"]]
PA3_confusion = PA3_data[["PA3_confusion","DeID"]]
PA4_confusion = PA4_data[["PA4_confusion","DeID"]]
PA5_confusion = PA5_data[["PA5_confusion","DeID"]]
PA6_confusion = PA6_data[["PA6_confusion","DeID"]]
PA7_confusion = PA7_data[["PA7_confusion","DeID"]]
PA8_confusion = PA8_data[["PA8_confusion","DeID"]]
PA9_confusion = PA9_data[["PA9_confusion","DeID"]]

In [18]:
#creating a table with transfer status, deID and ALL PA confusion about assignment values:
finalTable = pd.merge(transferStatusWithDeID,PA2_confusion)
finalTable

    transfer_student_status      DeID   PA2_confusion
0                        No  00T90APX               2
1                        No  025LQFB2  1 (Not at all)
2                        No  039HIM2X  1 (Not at all)
3                        No  04T56IGQ  1 (Not at all)
4                        No  0BN8B3XC  1 (Not at all)
..                      ...       ...             ...
344                      No  ZNJX2ETO               2
345                      No  ZQRWVMSS               2
346                      No  ZT9CDKWM  1 (Not at all)
347                      No  ZZ5H6MQD  1 (Not at all)
348                      No  ZZCK945I  1 (Not at all)

[349 rows x 3 columns]

In [19]:
finalTable = pd.merge(finalTable,PA3_confusion)
finalTable = pd.merge(finalTable,PA4_confusion)
finalTable = pd.merge(finalTable,PA5_confusion)
finalTable = pd.merge(finalTable,PA6_confusion)
finalTable = pd.merge(finalTable,PA7_confusion)
finalTable = pd.merge(finalTable,PA8_confusion)
finalTable = pd.merge(finalTable,PA9_confusion)
finalTable

,transfer_student_status,DeID,PA2_confusion,PA3_confusion,PA4_confusion,PA5_confusion,PA6_confusion,PA7_confusion,PA8_confusion,PA9_confusion
0,No,00T90APX,2,2,1 (Not at all),1 (Not at all),1 (Not at all),1 (Not at all),1 (Not at all),1 (Not at all)
1,No,025LQFB2,1 (Not at all),1 (Not at all),1 (Not at all),1 (Not at all),1 (Not at all),1 (Not at all),1 (Not at all),1 (Not at all)
2,No,039HIM2X,1 (Not at all),1 (Not at all),1 (Not at all),5 (Significantly),1 (Not at all),4,1 (Not at all),1 (Not at all)
3,No,0BN8B3XC,1 (Not at all),2,1 (Not at all),1 (Not at all),1 (Not at all),1 (Not at all),2,1 (Not at all)
4,No,0HTK8PFK,3,1 (Not at all),4,3,4,1 (Not at all),1 (Not at all),1 (Not at all)
...,...,...,...,...,...,...,...,...,...,...
212,No,ZBBWCKNN,1 (Not at all),1 (Not at all),2,1 (Not at all),1 (Not at all),1 (Not at all),1 (Not at all),2
213,No,ZBJTLF9T,1 (Not at all),2,2,2,3,1 (Not at all),1 (Not at all),1 (Not at all)
214,No,ZC09W9Y1,3,3,4,3,3,3,3,3
215,No,ZT9CDKWM,1 (Not at all),3,1 (Not at all),1 (Not at all),1 (Not at all),1 (Not at all),1 (Not at all),1 (Not at all)
216,No,ZZCK945I,1 (Not at all),1 (Not at all),1 (Not at all),2,4,2,5 (Significantly),2

In [20]:
#filtering the finalTable further into a table with only transfers and only natives:
finalTransfersTable = finalTable[finalTable.transfer_student_status == "Yes"]
finalTransfersTable.info() #17 transfer students that filled out every weekly PA reflection

#replacing 1(Not at all) with 1 and replacing 5(significantly) with 5:

for PA in ["PA2_confusion","PA3_confusion","PA4_confusion","PA5_confusion","PA6_confusion","PA7_confusion","PA8_confusion","PA9_confusion"]:
    finalTransfersTable.loc[finalTransfersTable[PA] == "1 (Not at all)", PA] = 1
    finalTransfersTable.loc[finalTransfersTable[PA] == "5 (Significantly)", PA] = 5
    
finalTransfersTable #viewing the table

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 30 to 195
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transfer_student_status  17 non-null     object
 1   DeID                     17 non-null     object
 2   PA2_confusion            17 non-null     object
 3   PA3_confusion            17 non-null     object
 4   PA4_confusion            17 non-null     object
 5   PA5_confusion            17 non-null     object
 6   PA6_confusion            17 non-null     object
 7   PA7_confusion            17 non-null     object
 8   PA8_confusion            17 non-null     object
 9   PA9_confusion            17 non-null     object
dtypes: object(10)
memory usage: 1.5+ KB

/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,transfer_student_status,DeID,PA2_confusion,PA3_confusion,PA4_confusion,PA5_confusion,PA6_confusion,PA7_confusion,PA8_confusion,PA9_confusion
30,Yes,51MR6YN1,1,3,1,1,3,3,3,3
38,Yes,62IJ27VA,4,4,4,3,2,3,4,2
50,Yes,7S0FMBQB,5,2,3,4,4,4,2,2
55,Yes,85YCIZ2K,1,1,1,3,1,1,1,1
57,Yes,8G81OREG,2,2,2,2,2,2,2,2
63,Yes,AO4WFFN0,1,1,1,2,2,3,2,3
75,Yes,CLU6PGGE,1,1,1,1,1,1,1,1
88,Yes,EJSUZNPO,1,1,4,3,2,1,3,1
93,Yes,FRJSIMSV,3,2,2,1,3,1,4,4
113,Yes,JLRFPHJ2,3,3,5,3,3,3,4,3
126,Yes,MEIFG7HF,1,1,1,1,1,1,1,1
160,Yes,R8MWFAI6,2,3,2,2,2,3,3,3
163,Yes,RK3060PU,1,1,2,3,4,1,1,1
169,Yes,SNQLQ9XA,2,3,3,3,3,2,2,2
172,Yes,TJHUS1PM,1,1,1,2,2,1,1,1
179,Yes,UKS0XE1Y,1,1,1,1,1,1,1,1
195,Yes,WMYR9H6U,4,3,4,4,4,3,4,4

In [21]:
finalNativesTable = finalTable[finalTable.transfer_student_status == "No"]
finalNativesTable.info() #200 native students that filled every PA weekly reflection

for PA in ["PA2_confusion","PA3_confusion","PA4_confusion","PA5_confusion","PA6_confusion","PA7_confusion","PA8_confusion","PA9_confusion"]:
    finalNativesTable.loc[finalNativesTable[PA] == "1 (Not at all)", PA] = 1
    finalNativesTable.loc[finalNativesTable[PA] == "5 (Significantly)", PA] = 5
    
finalNativesTable

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 216
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transfer_student_status  200 non-null    object
 1   DeID                     200 non-null    object
 2   PA2_confusion            200 non-null    object
 3   PA3_confusion            200 non-null    object
 4   PA4_confusion            200 non-null    object
 5   PA5_confusion            200 non-null    object
 6   PA6_confusion            200 non-null    object
 7   PA7_confusion            200 non-null    object
 8   PA8_confusion            200 non-null    object
 9   PA9_confusion            200 non-null    object
dtypes: object(10)
memory usage: 17.2+ KB

/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,transfer_student_status,DeID,PA2_confusion,PA3_confusion,PA4_confusion,PA5_confusion,PA6_confusion,PA7_confusion,PA8_confusion,PA9_confusion
0,No,00T90APX,2,2,1,1,1,1,1,1
1,No,025LQFB2,1,1,1,1,1,1,1,1
2,No,039HIM2X,1,1,1,5,1,4,1,1
3,No,0BN8B3XC,1,2,1,1,1,1,2,1
4,No,0HTK8PFK,3,1,4,3,4,1,1,1
...,...,...,...,...,...,...,...,...,...,...
212,No,ZBBWCKNN,1,1,2,1,1,1,1,2
213,No,ZBJTLF9T,1,2,2,2,3,1,1,1
214,No,ZC09W9Y1,3,3,4,3,3,3,3,3
215,No,ZT9CDKWM,1,3,1,1,1,1,1,1
216,No,ZZCK945I,1,1,1,2,4,2,5,2

In [22]:
#filter PA2 values for transfers and PA2 values for natives and store this in 2 different lists
#repeat this process for the rest of the PAs
#PA2_transfers_list = finalTransfersTable["PA2_confusion"].tolist()
#PA2_natives_list = finalNativesTable["PA2_confusion"].tolist()
#PA2_transfers_list

for PA in ["PA2_confusion","PA3_confusion","PA4_confusion","PA5_confusion","PA6_confusion","PA7_confusion","PA8_confusion","PA9_confusion"]:
    transfers_confusion_list = finalTransfersTable[PA].tolist() #getting column values and putting them in a list
    transfers_confusion_list = [int(i) for i in transfers_confusion_list] #converting everything to int to be safe
    
    natives_confusion_list = finalNativesTable[PA].tolist()
    natives_confusion_list = [int(i) for i in natives_confusion_list] #same process as above but for natives
    
    u_statistic, pvalue = stats.mannwhitneyu(transfers_confusion_list,natives_confusion_list) #conducting the actual u-test
    print(pvalue)

0.15303208605593122
0.11057849103434558
0.022577339694517765
0.07980740079536941
0.010531799460196853
0.009271650649652699
0.04031782448293318
0.008451062640430931